.ProductDetailDimBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2.5px);
  z-index: 1;
}
.ProductDetailModalOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ProductDetailModalMainContainer {
  background-color: white;
  border: 20px solid rgb(217, 235, 251);
  padding: 20px;
  border-radius: 8px;
  min-width: 40%;
  max-height: 35rem;
  max-width: 50%;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.ProductImage {
  width: 40%;
  min-height: 40%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}
.ProductImage div img{
  max-width: 15rem;
  max-height: 15rem;
}
.ProductDataItems {
  position: relative;
}
.ProductDetails {
  font-size: 1.4rem;
  width: auto;
  margin-top: 2rem;
}
.ProductDetails p {
  display: flex;
  justify-content: space-between;
}
.ProductDetails span {
  font-weight: 400;
  margin-left: 2rem;
}
.ProductDataItems button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 1rem;
  bottom: 0;
  width: 100%;
}
.ProductDataItems button:hover {
  background-color: #0056b3;
}
@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ProductDetailModalOpen {
  animation: fadeInModal 0.5s ease-in forwards;
}


@media (max-width: 768px) {
 
  .ProductDetailModalMainContainer {
    max-width: 90%;
    min-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ProductImage {
    width: 100%;
  }
 .ProductImage img{
  width: 100%;
  height: 12rem;
  margin-top: 0;
 }

  .ProductDetails {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
   .ProductDataItems {
  position: inherit;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}
  .ProductDataItems button {
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
}
