.user-profile-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: antiquewhite;
}

.user-profile-app h1 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.profile-section,
.password-section {
  margin-bottom: 20px;
}

.profile-section h2,
.password-section h2 {
  margin: 10px 0;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#user-profile-label {
  display: block;
  margin-bottom: 5px;
}

.user-profile-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.user-profile-input::placeholder {
  font-style: italic;
}

.user-profile-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.user-profile-button:hover {
  background-color: #0056b3;
}

.section-deelimitters {
  border: none;
  border-top: 1px dotted black;
  margin: 20px;
}
