.ProductDetailOuterContainer {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: #eff6f7;
}

.ProductDetailHeading {
    text-align: center;
    color: #263b3e;
    font-size: 3rem;
    margin-top: 1rem;
    padding-top: 8vh;
}

.ProductDetailMainContainer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1rem auto;
    width: 60%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.ProductDetailMainContainer input {
    border-bottom: 1px solid black;
    margin-left: 1rem;
    background-color: transparent;
    width: 60%;
}

.ProductDetailMainContainer button {
    background-color: #007b8b;
    padding: 0.4rem;
    color: white;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid transparent;
}

.ProductDetailMainContainer button:hover {
    background-color: #eff6f7;
    color: #007b8b;
    border: 1px solid black;
    transition-delay: 0.3s;
}

.seller-form-group {
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: #263b3e;
    font-size: 1.4rem;
    padding: 0.7rem 0.5rem;
}

#cat-select {
    border-radius: 0.3rem;
    border: 1px solid black;
    width: 60%;
    padding: 0.4rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .ProductDetailHeading{
        font-size: 1.5rem;
    }
    .ProductDetailMainContainer {
        width: 95%;
        padding: 1.5rem 0.5rem;
    }
    .seller-form-group {
        width: 90%;
        font-size: 1rem;
        padding: 0.5rem;
    }

    #cat-select {
        width: 70%;
        font-size: 1rem;
    }
}
