
.CatalogueOuter {
  display: inline-block;
}
.CatalogueItemMainContainer {
  max-height: 29rem;
  width: 18rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  background-color: white;
}

.CatalogueItemMainContainer::-webkit-scrollbar {
  width: 3px;
}

.CatalogueItemMainContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.CatalogueItemMainContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.CatalogueItemImageContainer img {
  min-height: 15rem;
  max-height: 16rem;
  min-width: 100%;
}
.CatalogueItemImageContainer div{
  overflow: hidden;
}
.CatalogueItemImageContainer div img{
  transition: all ease 0.3s;
}
.CatalogueItemImageContainer div img:hover{
  scale: 1.05;
  cursor: pointer;
}
.CatalogueItemProductDetails {
  font-size: 1.2rem;
  padding: 1px 0.3rem;
  color: black;
  font-weight: bold;
}

.CatalogueItemProductDetails span {
  font-weight: 400;
}
.CatalogueItemProductDetails button {
  background-color: #efefef;
  color: #0c0c0c;
  border: 2px solid #767676;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 1rem;
  width: 100%;
}
.CatalogueItemProductDetails button:hover{
  color: #efefef ;
  background-color: #0c0c0c;
}
@media  (max-width: 768px) {
  .CatalogueItemMainContainer
  {
    margin: 2rem;
    max-height: 25rem;
    
  }
  .CatalogueItemProductDetails{
    font-size: 1.1rem;
  }
}