*{
    margin: 0;
    padding: 0;
}
.SellerLeftSideBarMain{
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    width: 16rem;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 7vh;
    background-color: white;
    border-bottom-right-radius: 5px;
}
.DataItems{
    padding-top: 1rem;
}
.DataItem{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 0.4rem;

}
.DataItem:hover{
    scale: 1.01;
    cursor: pointer;
}
.DataItems p{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.DataItems span{
    font-size: 2rem;
}

