/* Profile.css */

.SellerMainContainer1  {
    position: relative;
    height: 100vh; 
    background-color: aliceblue;
}

.ProfileMainContent {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  text-align: center;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.SellerMainContainer1 h1 {
    position: absolute;
    text-align: center;
    font-size: 3rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.ProfileOuterContent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.ProfilePic1{
  border-right: 1px solid black;
    padding-right: 1rem;
}
.ProfilePic1 div{
  font-size: 7rem;
  margin-bottom: 20px;
}
.ProfilePic1 h3{
    font-size: 400;
}
.ProfileDataItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .ProfileMainContent {
    padding: 10px;
    width: 90%;
  }
  .ProfileOuterContent1{
    flex-direction: column;
  }
  .ProfilePic1{
    border: none;
    margin-bottom: 1rem;
  }
  .SellerMainContainer1 h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}
