.SellerMainNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: #11223a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  z-index: 4;
}
.SellerLogo{
  position: absolute;
  left: 6%;
  width: 10%;
}
.UserProfileLogo {
  color: white;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: 1rem;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    rotate: 0deg;
  }
  100% {
    opacity: 1;
    rotate: 180deg;
  }
}

.BurgerLogo {
  color: white;
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 1rem;
  opacity: 1;
  animation: fade-in 0.5s ease-in-out;
}

.BurgerLogo.hidden {
  transform: scale(0);
  opacity: 0;
}

.BurgerLogo:hover {
  color: aliceblue;
  cursor: pointer;
}

.UserProfileLogo:hover {
  color: aliceblue;
  cursor: pointer;
}

.UserProfileLogo:hover {
  color: aliceblue;
  cursor: pointer;
}

.SellerDropdownMenu {
  position: absolute;
  top: 100%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.SellerDataItem{
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.SellerDataItem:hover{
    background-color: aliceblue;
    cursor: pointer;
}
@media (max-width: 768px) {
  .SellerDropdownMenu{
    right: 0.5rem;
  }
  .SellerLogo{
    left: 15%;
    width: 30%;
  }
}