.OuterTableContainer{
  overflow-x:auto;
  height: 100vh;
}

.TableHeading{
  background-color: #b2dbfa;
  font-weight: bold;
  color: black;
}
.TableHead{
  border: 1.6px solid black;
}

.TableBody{
  font-weight: bold;
}
.SellerOrderOuterContainer{
  display: flex;
  flex-direction: column;

}
@media (max-width: 768px) {
  .SellerOrderOuterContainer {
    align-items: center;
  }

  .OuterTableContainer {
    overflow-x: auto;
    width: 100%;
  }

  .TableHeading {
    font-size: 12px;
  }

  .TableHead {
    font-size: 14px;
    border: 1px solid black;
  }

  .TableBody {
    font-size: 14px;
  }

  .customer-modal {
    width: 90%;
    max-width: 300px;
    padding: 10px;
  }

  .modal-content h2 {
    font-size: 1.2rem;
  }

  .modal-content p {
    font-size: 14px;
  }

  .CustomerModalButton {
    font-size: 14px;
    padding: 6px 12px;
  }
}
