@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.DashboardDataItems{
    display: flex;
}
.DashboardHeading{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.3rem;
    text-decoration: underline;
    color: black;
}
.DashboardDataItem{
    color: white;
    height: 8rem;
    width: 20%;
    margin: 2rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.OrdersMainContainer{
    border: 1px solid black ;
}
.OrderHeading{
    border-bottom: 1px solid black;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 2rem;
}
.OrderInnerContainer{
    display: flex;
    justify-content: space-between;
}
.OrderDataItems{
    margin-left: 2rem;
    font-size: 1.6rem;
    display: flex; 
  flex-direction: column;
  justify-content: space-between;
}
.OrderDataItem {
  text-align: center;
}
.PieChart{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

