.TableHeading{
  background-color: #b2dbfa;
  font-weight: bold;
  color: black;
}
.TableHead{
  border: 1.6px solid black;
}

.TableBody{
  font-weight: bold;
}
.SellerOrderOuterContainer{
  display: flex;
  flex-direction: column;

}
@media (max-width: 768px) {

  
}
