@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.DashboardDataItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.DashboardHeading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1.3rem;
    text-decoration: underline;
    color: black;
    margin-top: 8vh;
}

.DashboardDataItem {
    color: white;
    height: 8rem;
    width: 20%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: all ease 0.5s;
}
.DashboardDataItem:hover
{
    scale: 1.1;
    cursor: pointer;
}
.OrdersMainContainer {
    border: 1px solid black;
    margin-top: 2rem;
    padding: 2rem;
    overflow: hidden; 
    user-select: none;
    text-align: center;
}
.OrderHeadingOuter{
    display: flex;
    justify-content: space-around;
}
.OrderHeadingOuter p:nth-child(2) {
    color: transparent;
}

.OrderHeading {
    font-size: 2rem;
    font-weight: 600;
}

.OrderInnerContainer {
    display: flex;
    justify-content: space-between;
}

.OrderDataItems {
    margin-top: 1rem;
    font-size: 1.4rem; 

}

.OrderDataItem {
    text-align: center;
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.OrderDataItem p{
    font-weight: bold;
}
.OrderDataItem::after{
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2.5px;
    background-color: #33333389;
    transition: all 1s ease;
}
.OrderDataItem:hover{
    cursor: pointer;
}
.OrderDataItem:hover::after{
    width: 100%;
}
#value
{
    margin-left: 1rem;
    font-weight: 400;
}
.OrderInnerContainer{
    border-top: 1px solid black;
    justify-content: space-around;
}
.PieChart {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .DashboardDataItem {
        width: 30%;
        margin: 1rem;
    }
}

@media (max-width: 768px) {
    .DashboardDataItem {
        width: 45%;
        margin: 0.5rem;
        font-size: 1.1rem;
    }

    .OrdersMainContainer {
        padding: 1rem;
    }

    .OrderDataItems {
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .PieChart {
        margin-top: 1rem;
    }
    .OrderInnerContainer{
        flex-direction: column;
        align-items: center;
    }
      .OrderHeadingOuter p:nth-child(1) {
        text-align: center;
        width: 100%;
}
    .OrderHeadingOuter p:nth-child(2) {
    display: none;
}
}

