.loading-container,
.loader2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 20px;
  margin: 0;
}
.no-order-found {
  text-align: center;
  margin: 20px;
}

.no-order-found h1 {
  color: #ff0000; /* Red color */
  font-size: 24px;
  font-weight: bold;
}

.redirect-message {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
  text-align: center; /* Center-align the message */
  max-width: 300px; /* Limit the width for better readability */
  line-height: 1.5; /* Add some line height for readability */
}

.fact-message {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-width: 80%;
}

.fact-message::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.dots {
  width: 72px;
  height: 17.3px;
  background: radial-gradient(
      circle closest-side,
      rgba(0, 187, 255, 0.37) 90%,
      #0000
    )
    0 0/33% 100% space;
  clip-path: inset(0 100% 0 0);
  animation: dots-e3xtdg 0.8999999999999999s steps(4) infinite;
}

@keyframes dots-e3xtdg {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .fact-message {
    font-size: 14px; /* Reduce font size for small screens */
    max-width: 100%; /* Adjust max width for better fit */
  }
}
