* {
  box-sizing: border-box;
}
body {
  /* scrollbar-width: thin; */
  /* min-height: 100vh; */
}
/* .card-image {
  position: relative;
  height: 220px;
  width: 200px;
  display: flex;
}
.card-img {
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  margin: auto;
}
.card-img:hover {
  transform: scale(1.04);
}
.card {
  width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px 5px;
  padding: 5px;
}
.main-head {
  display: flex;
}
.offer-tag {
  font-size: 12px;
  padding: 1px 6px;
  margin: 8px 2px;
  background-color: rgb(194, 30, 30);
  color: white;
  border-radius: 5px;
}
.deal-details {
  margin: 8px 2px;
  font-size: 12px;
  color: rgb(216, 4, 4);
  font-weight: 700;
  letter-spacing: 0.01px;
}
.item-name {
  margin: 2px 2px;
  font-size: 13px;
  color: #050404;
  font-weight: 500;
}
.slide-content {
  margin: 0 30px;
  background-color: #fff;
}
.text-content {
  text-align: center;
}
.image-content {
  position: relative;
  display: flex;
}
.slide-container {
  width: 100%;
}
.swiper-slide {
  height: auto !important;
}
.swiper {
  z-index: 0 !important;
} */

/* my custom */

.custom-image-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  font-size: 0px;
  gap: 18px;
  margin-bottom: 20px;
}
.custom-image-wrapper .custom-coursel-btn {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}
.custom-coursel-btn:hover {
  background: #444;
}
.coursel-left {
  left: -20px;
}
.coursel-right {
  right: -20px;
}

.custom-image-wrapper::-webkit-scrollbar {
  display: none;
}
.custom-image-card {
  width: 200px;
  height: 220px;
  object-fit: cover;
}
.custom-slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.custom-slider-scrollbar:hover .custom-scrollbar-track {
  height: 4px;
}
.custom-scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.custom-scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.custom-slider-scrollbar .custom-scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.custom-scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
