@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.categorypage-outer {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  max-width: 1200px;
  box-sizing: border-box;
  margin: auto;
}
.categorypage-outer-h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.categorypage-main {
  display: grid;
  margin: auto;
}

.categorypage-wrapper-sort {
  height: auto;
  margin: 30px;
}
.categorypage-dropdown-sort {
  position: relative;
  display: inline-block;
  z-index: 5;
  margin: 0 10px;
}

.categorypage-dropdownBtnSort,
.categorypage-filter-search {
  text-align: left;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  background-color: #302e2e28;
  color: black;
  position: relative;
  --active-col: #302e2e;
  font-size: 16px;
}

#categorypage-clearBtn {
  height: 38.5px;
  padding: 0 10px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
  background-color: #302e2e;
  color: white;
  display: inline-block;
  margin-left: 10px;
}
.categorypage-buynow-btn {
  background: #ffcc00;
  color: rgb(61, 61, 61);
  border: none;
  text-decoration: none;
  box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px;
  display: block;
  text-align: center;
}
.categorypage-buynow-btn:hover {
  background: #ffc116;
  color: rgb(255, 255, 255);
  box-shadow: -1px 6px 13px rgba(255, 219, 87, 0.35);
  cursor: pointer;
}
.categorypage-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.categorypage-cards_item {
  display: flex;
  width: auto;
  max-width: 390px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}
.categorypage-cards_item:hover {
  transform: scale(1.02);
}

.categorypage-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.categorypage-card_content {
  padding: 1rem;
}
.categorypage-card_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin: 2px;
}
.categorypage-card_image img {
  height: 100%;
  max-width: 350px;
  object-fit: contain;
}
.categorypage-price_title_sec h2 {
  font-size: 1rem;
  margin: 0px;
}
.categorypage-price_title_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 2px;
  line-height: 20px;
  font-size: 14px;
  color: black;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.categorypage-price_title_sec .categorypage-price-details {
  background-color: #ffcc00;
  border-radius: 5px;
  padding: 1px 8px;
  outline: none;
  box-shadow: -1px 6px 10px rgba(244, 154, 63, 0.25);
}
.categorypage-card_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.categorypage-inner-price-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 25px;
}
.categorypage-star-rating {
  display: inline-block;
  font-size: 20px;
}

.categorypage-star {
  color: #f2b01e;
  transition: color 0.2s;
}

.categorypage-star.categorypage-empty {
  color: #d3d3d3;
}

.categorypage-card_text {
  color: rgba(0, 0, 0, 0.703);
  font-size: 0.875rem;
  line-height: 1.5;
  height: 100px;
  margin: 10px 0px;
  overflow: hidden;
}
.categorypage-bestSellerRgt {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  color: #fff;
  background: #f5821e;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 20px;
  padding: 4px 20px 4px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 5px;
  text-transform: capitalize;
}
.categorypage-bestSellerRgt:after {
  content: "";
  width: 0;
  height: 0;
  top: 0;
  position: absolute;
  right: 0;
  border-right: 13px solid #fff;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
@media (max-width: 600px) {
  .categorypage-cards_item {
    max-width: 330px;
    padding: 10px 0px;
  }

  .categorypage-card {
    padding: 0px;
  }

  .categorypage-card_content {
    padding: 1px 15px;
    margin: 10px 0px;
  }
  .categorypage-card_image img {
    max-height: 300px;
    max-width: 300px;
  }
  .categorypage-wrapper-sort {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
  }
  .categorypage-dropdown-sort {
    position: relative;
    z-index: 5;
    margin: 0 0px;
  }
  .categorypage-dropdownBtnSort,
  .categorypage-filter-search {
    text-align: left;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #302e2e28;
    color: black;
    position: relative;
    --active-col: #302e2e;
    font-size: 13px;
    width: auto;
    min-width: 140px;
  }
  #categorypage-clearBtn {
    margin-left: 5px;
    font-size: 13px;
  }
}
