.star-rating {
    display: inline-block;
    font-size: 24px;
    color: #f8ce0b;
    cursor: pointer;
  }
  
  .star-rating span {
    display: inline-block;
    margin-right: 5px;
  }
  
  .star-rating svg {
    transition: color 0.2s;
  }
  
  .star-rating svg:hover {
    color: #ffdd76;
  }
  