figure {
  display: flex;
}
figure img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f05a00;
  margin-right: 10px;
}
figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
figure figcaption h4 {
  font-size: 1rem;
  font-weight: 500;
}
figure figcaption h6 {
  font-size: 1rem;
  font-weight: 300;
}
figure figcaption h2 {
  font-size: 1rem;
  font-weight: 500;
}
.order-track {
  margin-top: 1rem;
  padding: 0 1rem;
  border-top: 1px dashed #2c3e50;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}
.order-track-step {
  display: flex;
  height: 4rem;
}
.order-track-step:last-child {
  overflow: hidden;
  height: 4rem;
}
.order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}
.order-track-status {
  margin-right: 1.5rem;
  position: relative;
}
.order-track-status-dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #f05a00;
}
.order-track-status-line {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 3rem;
  background: #f05a00;
}
.order-track-text-stat {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.order-track-text-sub {
  font-size: 14px;
  font-weight: 300;
}
.order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}
