@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
.navbar-header {
  position: relative;
  height: 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-around;
}
.logo {
  height: 60px;
}
.logo img {
  height: 100%;
}
.navbar-categories {
  display: flex;
  gap: 1.2rem;
  padding: 10px 0px;
  justify-content: space-between;
}
.nav-elements {
  padding: 10px;
}
.custom-nav-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid wheat;
  margin: auto 10px;
  background-color: #f7f2f2;
}
.custom-nav-search > input {
  font-size: 16px;
  padding: 4px;
  color: #000;
  border: none;
}
.custom-search-icon {
  color: #000;
  background: none;
  font-weight: bold;
  padding: 0px 5px;
}
.custom-search-icon > i {
  font-size: 15px;
}
.custom-search-icon > i:hover {
  cursor: pointer;
  color: cadetblue;
}
.custom-nav-icons {
  display: flex;
  padding-right: 50px;
}
.fa-caret-down {
  margin: 4px;
}
.custom-dropdown {
  display: flex;
}
.custom-dropdown:hover > .custom-dropdown-menu {
  display: block;
  margin-top: 42px;
}
.custom-dropdown > button:hover {
  background-color: #f7f2f2;
  color: #000;
}
.dropdown-item {
  white-space: nowrap;
}
.custom-btn {
  background-color: black;
  border-radius: 5px;
  padding: 0px 5px;
  white-space: nowrap;
  font-size: 16px;
}
.custom-list-items {
  display: flex;
  justify-content: space-evenly;
}
.custom-nav-icons button,
.custom-nav-icons a {
  background-color: #000;
  color: whitesmoke;
  padding: 8px 8px;
  border: none;
  font-weight: 500;
}
.custom-nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.custom-nav-login:hover {
  background-color: white;
  color: #000;
  border-radius: 5px;
}
.custom-nav-symbols {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.custom-nav-shop {
  position: relative;
}
.badge {
  position: relative;
}
.badge:after {
  content: attr(value);
  font-size: 12px;
  background: red;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 10px;
  top: -5px;
  transform: translateY(-50%);
  opacity: 0.9;
}
#custom-dropdown-menu {
  margin-top: 55px;
}
.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 5px 8px;
  border-radius: 10px;
}
.custom-dropdown-menu a,
.custom-dropdown-menu button {
  display: block;
  text-decoration: none;
  background-color: whitesmoke;
  color: #000;
  padding: 5px;
  width: 100%;
  text-align: left;
}
.custom-dropdown-menu a i,
.custom-dropdown-menu button i {
  margin-right: 10px;
}

.custom-dropdown-menu a:hover,
.custom-dropdown-menu button:hover {
  background-color: rgb(223, 223, 223);
}
.show {
  display: block;
}
.burger-menu {
  display: none;
}

@media (max-width: 1200px) {
  .navbar-header {
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  .logo {
    display: none;
  }
  .navbar-categories {
    display: none;
  }
  .burger-menu {
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 20px;
    font-size: 25px;
  }
  .nav-mobile {
    display: flex;
    position: absolute;
    gap: 0;
    flex-direction: column;
    outline: 1px solid white;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #f7f2f2bf;
    color: #000;
  }
  .custom-dropdown {
    margin: 2px 10px;
    display: inline;
    width: 100%px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
  }
  .custom-dropdown:first-child {
    margin-top: 58px;
  }
  .custom-dropdown button {
    padding: 5px;
    background: none;
  }
  .nav-mobile-inner {
    display: block;
    margin: 0px;
    position: relative;
  }
  .custom-dropdown:hover > .custom-dropdown-menu {
    display: block;
    margin: 10px;
  }
  .custom-nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    outline: 1px solid wheat;
    margin: auto;
    margin-right: 10px;
    background-color: #f7f2f2;
  }
  .custom-nav-search > input {
    font-size: 14px;
    padding: 4px;
    color: #000;
    border: none;
    width: 150px;
  }
  .custom-search-icon {
    color: #000;
    background: none;
    font-weight: bold;
    padding: 0px 5px;
  }
  .custom-nav-icons {
    margin-right: 10px;
    padding: 0;
  }
  .custom-nav-icons button,
  .custom-nav-icons a {
    background-color: transparent;
    color: whitesmoke;
    padding: 0px 8px;
    font-size: 12px;
  }

  .custom-nav-symbols {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .custom-nav-shop {
    position: relative;
    padding: 0;
  }
  .badge {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
  }
  .badge:after {
    content: attr(value);
    font-size: 12px;
    background: red;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: -5px;
    transform: translateY(-50%);
    opacity: 0.9;
  }
  #custom-dropdown-menu {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 100px;
  }
  #custom-dropdown-menu a,
  #custom-dropdown-menu button {
    position: relative;
    padding: 5px 2px;
    font-size: 14px;
    color: #000;
  }
  .custom-nav-login {
    margin: 14px 0px;
  }
}
