@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
.navbar-header {
  position: relative;
  height: 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-around;
}
.logo {
  height: 60px;
}
.logo img {
  height: 100%;
}
.navbar-categories {
  display: flex;
  gap: 1.2rem;
  padding: 10px 0px;
  justify-content: space-between;
}
.nav-elements {
  padding: 10px;
}
.custom-nav-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid wheat;
  margin: auto 10px;
  background-color: #f7f2f2;
}
.custom-nav-search > input {
  font-size: 16px;
  padding: 4px;
  color: #000;
  border: none;
}
.custom-search-icon {
  color: #000;
  background: none;
  font-weight: bold;
  padding: 0px 5px;
}
.custom-search-icon > i {
  font-size: 15px;
}
.custom-search-icon > i:hover {
  cursor: pointer;
  color: cadetblue;
}
.custom-nav-icons {
  display: flex;
  padding-right: 50px;
}
.fa-caret-down {
  margin: 4px;
}
.custom-dropdown {
  display: flex;
}
.custom-dropdown:hover > .custom-dropdown-menu {
  display: block;
  margin-top: 42px;
}
.custom-dropdown > button:hover {
  background-color: #f7f2f2;
  color: #000;
}
.dropdown-item {
  white-space: nowrap;
}
.custom-btn {
  background-color: black;
  border-radius: 5px;
  padding: 0px 5px;
  white-space: nowrap;
  font-size: 16px;
}
.custom-list-items {
  display: flex;
  justify-content: space-evenly;
}
.custom-nav-icons button,
.custom-nav-icons a {
  background-color: #000;
  color: whitesmoke;
  padding: 8px 8px;
  border: none;
  font-weight: 500;
}
.custom-nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.custom-nav-login:hover {
  background-color: white;
  color: #000;
  border-radius: 5px;
}
.custom-nav-symbols {
  /* width: 60%; */
  display: flex;
  /* justify-content: space-around; */
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:after {
  content: attr(value);
  font-size: 12px;
  background: red;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}
#custom-dropdown-menu {
  margin-top: 45px;
}
.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 5px 8px;
  border-radius: 10px;
}
.custom-dropdown-menu a,
.custom-dropdown-menu button {
  display: block;
  text-decoration: none;
  background-color: whitesmoke;
  color: #000;
  padding: 5px;
  width: 100%;
  text-align: left;
}
.custom-dropdown-menu a i,
.custom-dropdown-menu button i {
  margin-right: 10px;
}

.custom-dropdown-menu a:hover,
.custom-dropdown-menu button:hover {
  background-color: rgb(223, 223, 223);
}
.show {
  display: block;
}
.burger-menu {
  display: none;
}
@media (max-width: 1200px) {
  .navbar-categories {
    display: none;
  }
  .navbar-categories {
    flex-direction: column;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-right: 10px;
  }
}
