@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
.navbar-header {
  height: 60px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 10%;
  transform: translate(-150%, -50%);

}
.categories {
  display: flex;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 45%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}
.nav-elements {
  font-weight: 500;
  padding: 10px 10px;
  /* border: 2px solid black; */
  font-family: "Work Sans", sans-serif;
}
.nav-elements:hover:first-child {
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  border: none;
} 
.nav-elements:hover {
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  color: #000;
  border: 2px solid white;
} 
.nav-search {
  display: flex;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  padding: 1px;
  border-radius: 5px;
  background-color: #fff;
}
.nav-search > input {
  position: relative;
  width: 400px;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
}
.search-icon {
  position: absolute;
  right: 2.5%;
  top: 15%;
  color: black;
  font-weight: bold;
}
.search-icon > i {
  font-size: 15px;
}
.search-icon > i:hover {
  cursor: pointer;
  color: cadetblue;
}
.nav-icons {
  display: table;
  color: white;
}
.nav-icons {
  position: absolute;
  display: flex;
  top: 35%;
  right: 5%;
  justify-content: space-evenly;
  width: 10%;
}
.fa-caret-down {
  margin: 4px;
}

/* MDB */
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > button:hover {
  background-color: #f7f2f2;
  color: #000;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.btn-primary {
  background-color: black;
  padding: 10px 10px;
}
.list-items {
  display: flex;
  justify-content: space-evenly;
}
.nav-icons {
  position: absolute;
  top: 14%;
  right: 3%;
  width: 15%;
  display: flex;
}
.nav-icons button,
.nav-icons a {
  background-color: #000;
  color: whitesmoke;
  padding: 8px 8px;
  border: none;
  font-weight: 500;
}
.nav-login:hover {
  background-color: white;
  color: #000;
  border-radius: 5px;
}
.nav-symbols {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.dropdown > button {
  box-shadow: none;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:after {
  content: attr(value);
  font-size: 12px;
  background: red;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 12px;
  z-index: 1;
}

.dropdown-menu a,
.dropdown-menu button {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  background-color: whitesmoke;
  color: #000;
  padding: 5px 5px;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: rgb(240, 240, 240);
}

.show {
  display: block;
}