.container-shipping {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  min-width: 350px;
  padding: 2px;
}

.shipping-page {
  width: 100%;
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.address-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 10px auto;
}

.address-item.selected {
  background-color: #f0f0f0;
}

.add-address-form h3 {
  margin-top: 0;
}
.add-address-form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.address-list {
  margin-bottom: 20px;
}

.address-item.selected {
  background-color: #f0f0f0;
}

.address-item input[type="radio"] {
  margin-right: 10px;
}

.add-address-form {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.add-address-form h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.add-address-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.add-address-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.shipping-page h2 {
  text-align: center;
  color: #ff6600;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.add-address-form button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.add-address-form button[type="submit"]:hover {
  background-color: #0069d9;
}

.add-address-form button[type="submit"]:focus {
  outline: none;
}
.inner-div span:nth-child(1) {
  font-weight: bold;
}
.add-icon {
  margin-left: -5px;
}
.shop-procceed {
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
}
.shop-procceed a:nth-child(2) {
  background-color: rgb(0, 170, 0);
  font-weight: 500;
}
.shop-procceed a:nth-child(2):hover {
  background-color: rgb(0, 150, 0);
  color: white;
}
.address-item-actions {
  display: flex;
}
.add-address-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.add-address-button span {
  margin-left: 5px;
}

.address-item-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px
}

.address-item-actions button:hover {
  background-color: #f2f2f2;
}

.address-item-actions button:focus {
  outline: none;
}
@media (max-width: 600px) {
  .container-shipping {
    padding: 5px;
    font-size: 12px;
  }
  .address-item {
    margin: 10px 2px;
  }
  .shipping-page h2 {
    margin: 0px;
  }
  .add-address-form {
    padding: 10px;
    margin-top: 10px;
  }
  .add-address-button {
    font-size: 12px;
  }
  .add-address-form button[type="submit"] {
    font-size: 12px;
  }
  .add-icon {
    margin-left: -5px;
  }
  .shop-procceed {
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
  }
  .shop-procceed a:nth-child(2) {
    background-color: rgb(0, 170, 0);
    font-weight: 500;
  }
  .shop-procceed a:nth-child(2):hover {
    background-color: rgb(0, 150, 0);
    color: white;
  }
  .address-item-actions {
    display: flex;
    float: inline;
  }

  .add-address-form label {
    margin-top: 10px;
    font-size: 13px;
  }
  .address-item-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
  }

  .address-item-actions button:hover {
    background-color: #f2f2f2;
  }

  .address-item-actions button:focus {
    outline: none;
  }
}
