.product-page {
  min-width: 800px;
  height: calc(100vh - 60px);
  margin: 20px;
  display: flex;
}
.product-page .outer-divs {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: rgb(253, 253, 244);
  margin: 0 5px;
  padding: 5px;
  height: 100%;
}
.product-pics {
  width: 40%;
  padding: 0;
  display: flex;
}
.product-desc {
  width: 40%;
}
.product-buy {
  width: 20%;
}
.image-thums::-webkit-scrollbar {
  display: none;
}
.image-thums {
  scroll-behavior: auto;
  width: 140px;
  overflow-y: auto;
  height: 100%;
}
.inner-thumb-pics img {
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 65px;
  display: block;
  margin: 20px auto;
}
.active {
  box-shadow: 0 0 3px 3px #fbb608;
}
.inner-thumb-pics > img:hover {
  box-shadow: 0 0 3px 3px #fab410;
}
.main-image {
  display: flex;
}
.main-image > img {
  height: 500px;
  margin: 15px auto;
  border-radius: 5px;
  width: 500px;
  object-fit: cover;
}
.product-name {
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  margin: 0px 5px;
  /* border: 1px solid black; */
}
.product-brand {
  display: flex;
  font-size: 14px;
  padding: 5px;
  margin: 0px 5px;
  color: rgb(28, 28, 68);
}
.product-brand:hover {
  text-decoration: underline;
}
.product-cost {
  width: 30%;
  padding: 5px;
  margin: 0px 5px;
  margin-bottom: 10px;
}
.ratings {
  padding: 5px;
  margin: 0px 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.product-sellingPrice {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: oblique;
  color: black;
}
.product-costPrice {
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}
.product-mrp {
  display: flex;
  text-decoration: line-through;
  margin: auto 5px;
  margin-left: 0px;
}
.product-discount-percent {
  color: red;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  margin: auto;
}
.product-tax-details {
  font-style: italic;
  font-size: 14px;
}
.about-this {
  padding: 5px;
  margin: 0px 5px;
  font-weight: bold;
  margin-top: 0;
  color: #000;
  text-decoration: underline;
}
.product-details {
  padding: 5px;
  margin: 0px 5px;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-details > li {
  margin-bottom: 5px;
}
.total-reviews {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(37, 86, 7);
  font-weight: 600;
}
.pincode {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  /* background-color: rgb(219, 219, 219); */
  /* color: white; */
  font-weight: bold;
}
.checking {
  color: rgb(20, 15, 2);
  font-weight: bold;
  padding: 5px;
  font-size: 17px;
}
.product-buy-div {
  margin: 10px auto;
}
.cart-button {
  display: flex;
  flex-direction: column;
}
.pin-search {
  background-color: orange;
  color: #ffd;
  padding: 3px;
  /* width: 25%; */
  border-radius: 5px;
  font-weight: bold;
}
.cart-button button {
  background-color: orange;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 10px auto;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}
.cart-button > button:first-child {
  background-color: #ffff00;
}
.cart-button > button:hover:first-child {
  background-color: #cece3d;
}
.cart-button button:hover {
  background-color: rgb(228, 148, 0);
}
.oos {
  color: red;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.capacity {
  margin: 10px;
}
.shipping {
  margin: 10px;
  font-style: italic;
  font-weight: bold;
}
.toast-message {
  font-weight: bold;
}
.product-reviews {
  width: auto;
  min-width: 350px;
  height: auto;
  margin: auto 10px;
  border: 1px solid black;
  background-color: rgb(253, 253, 244);
  padding: 10px;
  border-radius: 5px;
}
.product-reviews h1 {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  font-size: 25px;
}
.image-slider {
  border: 10px solid black;
}
.review-icon i {
  border-radius: 50%;
  padding: 5px;
  border: 2px solid black;
  background-color: gray;
  color: #fff;
}
.review-box p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.review-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  background-color: white;
}

.outer-quantity {
  display: flex;
  margin: 0px 10px;
}
.counter-button {
  background-color: #4caf50;
  color: black;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.counter-button:hover {
  background-color: #45a049;
}

.counter-button:active {
  background-color: #3e8941;
}

.count {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}